
body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  color: var(--text-color);
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 1em 1em;
  height: 10%;

  h3 {
    width: 70%;
  }
}