@use '../../../scss/mixins';

.admin {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--background--lines);
    padding: 1rem 0;

    &__buttons {
      display: flex;
      gap: 1rem;

      button {
        font-size: var(--fontsize--small);
      }
    }
  }
}

.button--active {
  &:disabled {
    background-color: var(--primary);
    color: var(--background);
    opacity: 0.5;

    &:hover {
      background-color: var(--primary);
      color: var(--background);
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
