@use '../../scss/mixins';

.header {
  height: max-content;
  padding: 3rem 6rem;
  background-color: var(--background);
  width: 100%;
  border-bottom: 1px solid var(--background--lines);

  &__container {
    &--authenticated,
    &--anon {
      width: 100%;
    }

    &--authenticated {
      width: 100%;
      @include mixins.flex-center();
      justify-content: space-between;
    }
  }

  &__logout {
    @include mixins.flex-center();
    justify-content: space-between;
    gap: 1rem;
  }

  &__greeting {
    @include mixins.flex-center();
    gap: 1rem;

    span {
      opacity: 0.5;
      font-size: var(--fontsize--small);
    }
  }

  &__nav {
    margin: 0 auto;
    @include mixins.flex-center();
    justify-content: space-around;
    gap: 3rem;

    a {
      text-decoration: none;
      width: 12rem;
    }
  }
}

//
