@use '../../../scss/mixins';

.prof {
  width: 100%;

  &__header {
    @include mixins.flex-center();
    justify-content: space-between;
    padding-bottom: 3rem;
    margin-top: -1rem;
    border-bottom: 1px solid var(--background--lines);

    h2 {
      font-size: var(--fontsize--xlarge);
      font-weight: 500;
    }

    a,
    button {
      @include mixins.flex-center();
      gap: 1rem;
      text-decoration: none;
    }
  }
}
